<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Item1:</strong>
  <%= @list.item1 %>
</p>

<p>
  <strong>Item2:</strong>
  <%= @list.item2 %>
</p>

<p>
  <strong>Item3:</strong>
  <%= @list.item3 %>
</p>

<p>
  <strong>Item4:</strong>
  <%= @list.item4 %>
</p>

<p>
  <strong>Item5:</strong>
  <%= @list.item5 %>
</p>

<p>
  <strong>Item6:</strong>
  <%= @list.item6 %>
</p>

<p>
  <strong>Item7:</strong>
  <%= @list.item7 %>
</p>

<p>
  <strong>Item8:</strong>
  <%= @list.item8 %>
</p>

<p>
  <strong>Item9:</strong>
  <%= @list.item9 %>
</p>

<p>
  <strong>Item10:</strong>
  <%= @list.item10 %>
</p>

<p>
  <strong>Item11:</strong>
  <%= @list.item11 %>
</p>

<p>
  <strong>Item12:</strong>
  <%= @list.item12 %>
</p>

<p>
  <strong>Item13:</strong>
  <%= @list.item13 %>
</p>

<p>
  <strong>Item14:</strong>
  <%= @list.item14 %>
</p>

<p>
  <strong>Item15:</strong>
  <%= @list.item15 %>
</p>

<p>
  <strong>Item16:</strong>
  <%= @list.item16 %>
</p>

<p>
  <strong>Item17:</strong>
  <%= @list.item17 %>
</p>

<p>
  <strong>Item18:</strong>
  <%= @list.item18 %>
</p>

<p>
  <strong>Item19:</strong>
  <%= @list.item19 %>
</p>

<p>
  <strong>Item20:</strong>
  <%= @list.item20 %>
</p>

<p>
  <strong>User:</strong>
  <%= @list.user %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
