<!DOCTYPE html>
<html>
<head>
       <title>Apache</title>
       <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
       <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
       <%= csrf_meta_tags %>
</head>
<body>
     <nav>
          <img src="http://www.apache.tv/wp-content/uploads/2014/06/Apache_logo@2x.png" class="nav-img" />
          <% if current_user %>

               <div class="signed-in"><div class="text"><%= current_user.email %></div></div>
          <% end %>
     </nav>
     
     <div class="container">
       <%= yield %>
     </div>

</body>

<script type="text/javascript">
     $(function(){
          $('body').on("click", '.field', function() {
               if ( $('.check').is(':checked') ) {
                    $(this).toggleClass( "blue" );
               } else {
                    $(this).toggleClass( "blue" );
               }
          });



     });
</script>
</html>

